@using MD.PersianDateTime
@using Web.Areas.Admin.Models
@using Application.Extensions
@using Common.Enums
@model IEnumerable<ProjectViewModel>
@inject IHtmlLocalizer<SharedResource> localizer
<table class="table table-striped display" id="projectTable">
    <thead>
        <tr>
            <th>
                پروژه
            </th>
            <th>
                کارگاه
            </th>
            <th>
                امور مالیات
            </th>
            <th>
                وضعیت پروژه
            </th>
            <th style="width:10%">
                #
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <a>
                                @project.Title
                            </a>
                            <br>
                            <small>
                                @project.Code
                            </small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <a>
                                @project.WorkshopName
                            </a>
                            <br>
                            <small>
                                @project.WorkshopCode
                            </small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <a>
                                @project.TaxAuthorityName
                            </a>
                            <br>
                            <small>
                                @project.TaxAuthorityName
                            </small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <a>
                                @(EnumHelper<ProjectStatus>.GetDisplayValue(project.ProjectStatus))
                            </a>
                            <br>
                            <small>
                                @(new PersianDateTime(project?.EndDate).Year + "/" + new PersianDateTime(project?.EndDate).Month)
                            </small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @localizer["Actions"]
                        </button>
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a asp-area="Admin" asp-controller="Project" asp-action="Edit" asp-route-projectId="@project.Id" class="dropdown-item">
                                <i class="fa fa-pencil"></i> @localizer["Edit"]
                            </a>
                            @*                            <a asp-area="Admin" asp-controller="Project" asp-action="Delete" asp-route-projectId="@project.Id" class="dropdown-item">
                                <i class="fa fa-pencil"></i> @localizer["Delete"]
                                </a>*@
                            <a onclick="DeleteProject('@project.Id')" class="dropdown-item">
                                <i class="fa fa-pencil"></i> @localizer["Delete"]
                            </a>
                            <a href="/admin/projectRule/create?projectId=@project.Id" class="dropdown-item">
                                <i class="fa fa-pencil"></i> @localizer["CreateProjectRule"]
                            </a>
                            <a href="/admin/projectRule/index?projectId=@project.Id" class="dropdown-item">
                                <i class="fa fa-letter"></i> @localizer["ListProjectRule"]
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var test;
    $(document).ready(function () {
           $('#CustomSpinner').css('display','none')
     test = $("#projectTable").DataTable({
                searching: true,
                ordering:  true,
                select: true,
                responsive: true,
                oLanguage : {
                    sSearch: "جستجو: ",
                    sInfo: "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                    sLengthMenu: "نمایش _MENU_ رکورد",
                    sInfoFiltered: "فیلتر شده از _MAX_ رکورد",
                    sInfoEmpty  : "هیچ داده ای یافت نشد",
                    sZeroRecords: "رکوردی یافت نشد",
                    oPaginate:{
                        sPrevious: "قبلی",
                        sNext: "بعدی",
                    }
                },
        });
    });

    function DeleteProject(id)
      {
          swal({
              title: "آیا از حذف این پروژه اطمینان دارید؟",
              text: "در صورت حذف، امکان بازگردانی اطلاعات وجود ندارد!",
              icon: "warning",
              buttons: true,
              dangerMode: true,
              buttons: {
                  confirm : {text:'حذف',className:'sweet-warning'},
                  cancel : 'لغو'
              }
          })
          .then((willDelete) => {
              if (willDelete) {
                                        $.ajax({
                  url: "/admin/project/delete?projectId="+id,
                  method: "GET",
                  success: function (model) {
                      notyf.success("حذف با موفقیت انجام شد.");
                      loadData();
              }});
              } else {
                  notyf.warning("عملیات لغو شد.");
              }
          });
          }
</script>