@using Microsoft.Extensions.Configuration
@using Web.Areas.Admin.Models
@using Common.Enums
@inject Infrastructure.Repositories.IFileRepository _fileRepository;
@inject IConfiguration _configuration;
@model ProjectViewModel
@{
    ViewBag.Title = "ویرایش پروژه";
    var banks = ViewData["banks"] as List<BankViewModel>;
    var bankAccounts = ViewData["bankAccounts"] as List<Bank_AccountViewModel>;
    var index = 0;
    var logoPath = "";
    if (Model.LogoPath is not null)
        logoPath = _fileRepository.GetFileFullPath(Model.LogoPath,_configuration["Base:KoshaCore:FilePath"].ToString()).ImagePath;

}

<form id="form" method="POST" action="Save"  enctype="multipart/form-data">
    <div class="row justify-content-center">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <input hidden asp-for="Id">

                        <div class="col-4 mt-3">
                            <label class="form-label" for="Title">نام پروژه</label>
                            <input asp-for="Title" class="form-control">
                        </div>
                        <div class="col-4 mt-3">
                            <label class="form-label" for="Code">کد پروژه</label>
                            <input asp-for="Code" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-4 mt-3">
                            <label class="form-label" for="TaxAuthorityName">نام سازمان مالیاتی</label>
                            <input asp-for="TaxAuthorityName" class="form-control">
                        </div>
                        <div class="col-4 mt-3">
                            <label class="form-label" for="TaxAuthorityCode">کد سازمان مالیاتی</label>
                            <input asp-for="TaxAuthorityCode" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-4 mt-3">
                            <label class="form-label" for="WorkshopName">نام کارگاهی</label>
                            <input asp-for="WorkshopName" class="form-control">
                        </div>
                        <div class="col-4 mt-3">
                            <label class="form-label" for="WorkshopCode">کد کارگاهی</label>
                            <input asp-for="WorkshopCode" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-4 mt-3">
                            <label class="form-label" for="WorkshopCode">تاریخ شروع</label>
                            <input name="StartDate" type="text" class="datepicker form-control" value="@(Model.StartDate == default(DateTime)? null:Model.StartDate.ToString("yyyy/MM/dd") )">
                        </div>
                        <div class="col-4 mt-3">
                            <label class="form-label" for="WorkshopCode">تاریخ پایان</label>
                            <input asp-for="EndDate" type="text" class="datepicker form-control" placeholder="" value="@(Model.EndDate == default(DateTime)? null:Model.EndDate?.ToString("yyyy/MM/dd") )">
                        </div>
                        <div class="col-4 mt-3">
                            <label class="form-label" for="WorkshopCode">ردیف پیمان</label>
                            <input asp-for="RowOfCovenant" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-4 mt-3">
                            <label class="form-label" for="InsurancesName">نام سازمان مالیاتی</label>
                            <input asp-for="InsurancesName" class="form-control" placeholder="">
                        </div>
                        <div class="col-4 mt-3">
                            <label class="form-label" for="InsurancesName">نام مسئول</label>
                            <input asp-for="OwnerName" class="form-control" placeholder="">
                        </div>
                        <div class="col-4 mt-3">
                            <label class="form-label" for="WorkshopCode">وضعیت پروژه</label>
                            <select asp-for="ProjectStatus"
                                    class="form-control"
                                    asp-items="Html.GetEnumSelectList<ProjectStatus>()"></select>
                        </div>
                        <div class="col-4 mt-3">
                            <label class="form-label" for="WorkshopCode">شعبه بیمه</label>
                            <input asp-for="BranchName" class="form-control" placeholder="">
                        </div>
                        <div class="col-8 mt-3 mb-5">
                            <label class="form-label" for="Address">آدرس</label>
                            <input asp-for="Address" class="form-control" placeholder="">
                        </div>
                        <div class="col-4 mt-3 mb-5">
                            <label class="form-label" for="Address">لوگو</label>
                            <input type="file" class="ml-2 mr-0" asp-for="Logo" accept="image/*" onchange="SetFileData(this)" />
                            <img class="form-control mr-3 w-25" id="LogoPic" src="@logoPath" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 mt-3">
                            <label class="form-label" for="DisplayName">نام پروژه نمایشی</label>
                            <input asp-for="DisplayName" class="form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="DisplayPhoneNumber">شماره تلفن نمایشی</label>
                            <input asp-for="DisplayPhoneNumber" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="DisplayEmail">ایمیل نمایشی</label>
                            <input asp-for="DisplayEmail" class="form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="DisplayPostalCode">کد پستی نمایشی</label>
                            <input asp-for="DisplayPostalCode" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-12 mt-3">
                            <label class="form-label" for="DisplayAddress">آدرس نمایشی</label>
                            <input asp-for="DisplayAddress" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 mt-3">
                            <label class="form-label" for="CompanyName">نام شرکت کارفرما</label>
                            <input asp-for="CompanyName" class="form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="DisplayPhoneNumber">شماره ثبت شرکت کارفرما</label>
                            <input asp-for="CompanyRegistrationCode" class="form-control intTextBox" placeholder="">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="CompanyOwnerName">نام مدیر عامل شرکت کارفرما</label>
                            <input asp-for="CompanyOwnerName" class="form-control">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label" for="CompanyAddress">آدرس شرکت کارفرما</label>
                            <input asp-for="CompanyAddress" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row" id="mainBox">
                        <div class="col-12">
                            <button type="button" onclick="AddBankBox()" class="btn btn-info">
                                <i>افزودن حساب بانکی </i>
                            </button>
                        </div>
                    </div>
                    <div class="row" name="BankBox" id="Box_0">
                        <div class="col-6 mt-3">
                            <label class="form-label" for="DisplayName">بانک</label>
                            <select id="bank" class="js-data-example-ajax form-control" name="BankId" onchange="changeBank(this,0)">
                                <option selected>یک مورد را انتخاب کنید</option>
                                @foreach (var bank in banks)
                                {
                                    <option value="@bank.Id">@bank.Title</option>
                                }
                            </select>
                        </div>
                        <div class="col-5 mt-3">
                            <label class="form-label" for="BankAccounts">شماره حساب</label>
                            <select id="BankAccounts_0" class="js-data-example-ajax form-control" name="BankAccounts">
                            </select>
                        </div>
                        <div class="col-1 mt-5">
                            <button type="button" onclick="RemoveBox(0)" class="btn btn-danger">
                                <i>حذف </i>
                            </button>
                        </div>
                    </div>
                    @foreach (var projectBankAccount in Model.projectBanks)
                    {
                        index++;
                        <div class="row" name="BankBox" id="Box_@index">
                            <div class="col-6 mt-3">
                                <label class="form-label" for="DisplayName">بانک</label>
                                <select id="bank" class="js-data-example-ajax form-control" name="BankId" onchange="changeBank(this,@index)">
                                    <option selected>یک مورد را انتخاب کنید</option>
                                    @foreach (var bank in banks)
                                    {
                                        if (projectBankAccount.BankId == bank.Id)
                                        {
                                            <option value="@bank.Id" selected>@bank.Title</option>
                                        }
                                        else
                                        {
                                            <option value="@bank.Id">@bank.Title</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-5 mt-3">
                                <label class="form-label" for="BankAccounts">شماره حساب</label>
                                <select id="BankAccounts_0" class="js-data-example-ajax form-control" name="BankAccounts">
                                    @foreach (var bankAccount in bankAccounts.Where(x => x.BankId == projectBankAccount.BankId))
                                    {
                                        if (projectBankAccount.Bank_AccountId == bankAccount.Id)
                                        {
                                            <option value="@bankAccount.Id" selected>@bankAccount.AccountNumber (@bankAccount.BranchName)</option>
                                        }
                                        else
                                        {
                                            <option value="@bankAccount.Id">@bankAccount.AccountNumber (@bankAccount.BranchName)</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-1 mt-5">
                                <button type="button" onclick="RemoveBox(@index)" class="btn btn-danger">
                                    <i>حذف </i>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-12 mt-3 mb-5">
                <div class="mt-6 col-12 text-right">
                    <button type="submit" class="btn btn-primary">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
<script src="~/js/site.js"></script>
<script src="~/js/Project/BankAccountProject.js"></script>
<script>
    function changeBank(This,index)
    {
        $("#BankAccounts").html('');
        $.ajax({
            url: "/admin/bank/getAccountlist?bankId="+$(This).val(),
            method: "GET",
            success: function (model){
                $.map( model, function( val, i ) {

                    $("#BankAccounts_"+index).append('<option value="' + val.id + '">' + val.accountNumber + ' ('+ val.branchName +')</option>');
                });
            }
        });
    }

        function SetFileData(File) {
    if (File.files && File.files[0]) {
        const allowedExtensions = ['jpg', 'png', 'jpeg', 'bmp'];
        var reader = new FileReader();
        var file = File.files[0];
        var filesize = ((file.size / 1024) / 1024).toFixed(4); // MB
        var fileExtension = file.name.split(".").pop();

        if (!allowedExtensions.includes(fileExtension)) {
            File.value = null;
            alert("file type not allowed");
            return false;
        } else if (filesize > 10) {
            File.value = null;
            alert("file size too large");
            return false;
        }
        else {
            reader.onload = function (e) {
                document.getElementById('LogoPic').value = file.name;
                document.getElementById('LogoPic').src = e.target.result;
            }

            reader.readAsDataURL(file);
        }
    }
    }
</script>
}