@using Web.Areas.Admin.Models
@model IEnumerable<UserViewModel>
<table class="table table-striped" id="userTable">
    <thead>
        <tr>
            <th>
                نام کاربری
            </th>
            <th>
                نام کامل
            </th>
            <th>
                ایمیل
            </th>
            <th>
                شماره همراه
            </th>
            <th style="width:10%">
                #
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.FirstName @user.LastName
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.PhoneNumber
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            عملیات
                        </button>
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-userId="@user.Id" class="dropdown-item">
                                <i class="fa fa-pencil"></i> @localizer["Edit"]
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#CustomSpinner').css('display','none')
        $("#userTable").DataTable();
    });
</script>
