@using Common.Enums
@using Web.Areas.Admin.Models
@inject Infrastructure.Repositories.IFileRepository _fileRepository;
@inject IHtmlLocalizer<SharedResource> localizer
@model UserViewModel
@{
    ViewBag.Title = "ویرایش کاربر";
    int index = 0;
    int DocIndex = 0;
    int indexOfUserAdditional = Model.AdditionalUserData.IndexOf(Model.AdditionalUserData.FirstOrDefault(x => x.FamilyRole == FamilyRole.Me));
    var banks = ViewData["banks"] as List<BankViewModel>;

}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>
<div class="alert alert-primary d-flex align-items-center" role="alert" id="alert-showmode">
    <svg class="bi flex-shrink-0 me-2 mr-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
    <div>
        <a style="text-decoration: none;color:black" href="#" onclick="$(':input').prop('disabled', false);$('#alert-showmode').attr('style', 'display: none !important');$('#alert-editmode').attr('style', '');">
            فرم در حالت نمایش است، درصورتی که می خواید فرم به حالت ویرایش باز شود کلیک کنید.
        </a>
    </div>
</div>
<div class="alert alert-warning d-flex align-items-center" role="alert" id="alert-editmode">
    <svg class="bi flex-shrink-0 me-2 mr-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
    <div>
        <a style="text-decoration: none;color:black" href="#" onclick="$(':input').prop('disabled', true);$('#alert-editmode').attr('style', 'display: none !important');$('#alert-showmode').attr('style', '');">
            فرم در حالت ویرایش است،  برای برگشت به حالت نمایش کلیک کنید.
        </a>
    </div>
</div>
<form method="POST" action="EditPersonnel" enctype="multipart/form-data">
    <div class="card" id="mainBox">
        <div class="card-body" name="familyBox">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="FirstName" class="form-label col-lg-12">@localizer["FirstName"]</label>
                    <input type="text" asp-for="FirstName" name="FirstName" class="form-control col-lg-12" placeholder="@localizer["FirstName"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="LastName" class="form-label col-lg-12">@localizer["LastName"]</label>
                    <input type="text" asp-for="LastName" name="LastName" class="form-control col-lg-12" placeholder="@localizer["LastName"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="PersonnelCode" class="form-label col-lg-12">@localizer["PersonnelCode"]</label>
                    <input type="text" asp-for="PersonnelCode" name="PersonnelCode" class="form-control col-lg-12" placeholder="@localizer["PersonnelCode"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="NationalCode" class="form-label col-lg-12">@localizer["NationalCode"]</label>
                    <input type="text" asp-for="NationalCode" name="NationalCode" class="form-control col-lg-12 intTextBox" placeholder="@localizer["NationalCode"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="PhoneNumber" class="form-label col-lg-12">@localizer["PhoneNumber"]</label>
                    <input type="text" asp-for="PhoneNumber" name="PhoneNumber" class="form-control col-lg-12 intTextBox" placeholder="@localizer["PhoneNumber"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="IdentitySerialNumber" class="form-label col-lg-12">@localizer["IdentitySerialNumber"]</label>
                    <input type="text" asp-for="IdentitySerialNumber" name="IdentitySerialNumber" class="form-control col-lg-12" placeholder="@localizer["IdentitySerialNumber"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="IdentityNumber" class="form-label col-lg-12">@localizer["IdentityNumber"]</label>
                    <input type="text" asp-for="IdentityNumber" name="IdentityNumber" class="form-control col-lg-12 intTextBox" placeholder="@localizer["IdentityNumber"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="IdentitySerialNumber" class="form-label col-lg-12">نام پدر</label>
                    <input type="text" asp-for="FatherName" name="FatherName" class="form-control col-lg-12" placeholder="نام پدر">
                </div>
                <div class="form-group col-md-4">
                    <label for="Nationality" class="form-label col-lg-12">@localizer["Nationality"]</label>
                    <input type="text" asp-for="Nationality" name="Nationality" class="form-control col-lg-12" placeholder="@localizer["Nationality"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="JobTitle" class="form-label col-lg-12">@localizer["JobTitle"]</label>
                    <input type="text" asp-for="JobTitle" name="JobTitle" class="form-control col-lg-12" placeholder="@localizer["JobTitle"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="JobCode" class="form-label col-lg-12">@localizer["JobCode"]</label>
                    <input type="text" asp-for="JobCode" name="JobCode" class="form-control col-lg-12" placeholder="@localizer["JobCode"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="BirthPlace" class="form-label col-lg-12">@localizer["BirthPlace"]</label>
                    <input type="text" asp-for="BirthPlace" name="BirthPlace" class="form-control col-lg-12" placeholder="@localizer["BirthPlace"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="Address" class="form-label col-lg-12">@localizer["Address"]</label>
                    <input type="text" asp-for="Address" name="Address" class="form-control col-lg-12" placeholder="@localizer["Address"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="ZipCode" class="form-label col-lg-12">@localizer["ZipCode"]</label>
                    <input type="text" asp-for="ZipCode" name="ZipCode" class="form-control col-lg-12" placeholder="@localizer["ZipCode"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="BankAccNumber" class="form-label col-lg-12">شماره حساب</label>
                    <input type="text" asp-for="BankAccNumber" class=" form-control col-lg-12 intTextBox" placeholder="شماره حساب">
                </div>
                <div class="form-group col-md-4">
                    <label for="BankName" class="form-label col-lg-12">نام بانک</label>
                    <select id="bank" class="js-data-example-ajax form-control" asp-for="BankId" required>
                        <option selected>یک مورد را انتخاب کنید</option>
                        @foreach (var bank in banks)
                        {
                            if (bank.Id == Model.BankId)
                            {
                                <option value="@bank.Id" selected>@bank.Title</option>
                            }
                            else
                            {
                                <option value="@bank.Id">@bank.Title</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="DegreeOfEducation" class="form-label col-lg-12">@localizer["DegreeOfEducation"]</label>
                    <input type="text" asp-for="DegreeOfEducation" name="DegreeOfEducation" class="form-control col-lg-12" placeholder="@localizer["DegreeOfEducation"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="InsuranceCode" class="form-label col-lg-12">@localizer["InsuranceCode"]</label>
                    <input type="text" asp-for="InsuranceCode" name="InsuranceCode" class="form-control col-lg-12 intTextBox" placeholder="@localizer["InsuranceCode"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="IncludedNumberOfChildren" class="form-label col-lg-12">@localizer["IncludedNumberOfChildren"]</label>
                    <input type="text" asp-for="IncludedNumberOfChildren" name="IncludedNumberOfChildren" class="form-control col-lg-12 intTextBox" placeholder="@localizer["IncludedNumberOfChildren"]">
                </div>                
                <div class="form-group col-md-4">
                    <label for="NotIncludedNumberOfChildren" class="form-label col-lg-12">@localizer["NotIncludedNumberOfChildren"]</label>
                    <input type="text" asp-for="NotIncludedNumberOfChildren" name="NotIncludedNumberOfChildren" class="form-control col-lg-12 intTextBox" placeholder="@localizer["NotIncludedNumberOfChildren"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="MonthlyBaseYear" class="form-label col-lg-12">@localizer["MonthlyBaseYear"]</label>
                    <input type="text" asp-for="MonthlyBaseYear" name="MonthlyBaseYear" class="form-control col-lg-12 floatTextBox" placeholder="@localizer["MonthlyBaseYear"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="MonthlySalary" class="form-label col-lg-12">@localizer["MonthlySalary"]</label>
                    <input type="text" asp-for="MonthlySalary" name="MonthlySalary" class="form-control col-lg-12 floatTextBox" placeholder="@localizer["MonthlySalary"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="ChildrenRight" class="form-label col-lg-12">@localizer["ChildrenRight"]</label>
                    <input type="text" asp-for="ChildrenRight" name="ChildrenRight" class="form-control col-lg-12 floatTextBox" placeholder="@localizer["ChildrenRight"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="WorkerRight" class="form-label col-lg-12">@localizer["WorkerRight"]</label>
                    <input type="text" asp-for="WorkerRight" name="WorkerRight" class="form-control col-lg-12 floatTextBox" placeholder="@localizer["WorkerRight"]">
                </div>
                <div class="form-group col-md-4">
                    <label for="FoodAndHouseRight" class="form-label col-lg-12">@localizer["FoodAndHouseRight"]</label>
                    <input type="text" asp-for="FoodAndHouseRight" name="FoodAndHouseRight" class="form-control col-lg-12 floatTextBox" placeholder="@localizer["FoodAndHouseRight"]">
                </div>
                <div class="form-group col-md-3">
                    <label for="DailyBaseYear" class="form-label col-lg-12">@localizer["DailyBaseYear"]</label>
                    <input type="text" asp-for="DailyBaseYear" name="DailyBaseYear" class="form-control col-lg-12 floatTextBox" placeholder="@localizer["DailyBaseYear"]">
                </div>
                <div class="form-group col-md-3">
                    <label for="DailySalary" class="form-label col-lg-12">@localizer["DailySalary"]</label>
                    <input type="text" asp-for="DailySalary" name="DailySalary" class="form-control col-lg-12 floatTextBox" placeholder="@localizer["DailySalary"]">
                </div>
                <div class="form-group col-md-3">
                    <label for="InsuranceHistory" class="form-label col-lg-12">@localizer["InsuranceHistory"]</label>
                    <input type="text" asp-for="InsuranceHistory" name="InsuranceHistory" class="form-control col-lg-12 floatTextBox" placeholder="@localizer["InsuranceHistory"]">
                </div>
                <div class="form-group col-md-3">
                    <label for="WorkExperience" class="form-label col-lg-12">@localizer["WorkExperience"]</label>
                    <input type="text" asp-for="WorkExperience" name="WorkExperience" class="form-control col-lg-12 floatTextBox" placeholder="@localizer["WorkExperience"]">
                </div>
                <div class="form-group col-md-3">
                    <label for="Birthday" class="form-label col-lg-12">تاریخ تولد</label>
                    <input name="Birthday" class="form-control datepicker col-lg-12" placeholder="تاریخ تولد" value='@(Model.Birthday == null? null:Model.Birthday.Value.ToString("yyyy/MM/dd"))'>
                </div>
                <div class="form-group col-md-3">
                    <label for="HireDate" class="form-label col-lg-12">تاریخ استخدام</label>
                    <input name="HireDate" class="form-control datepicker col-lg-12" placeholder="تاریخ استخدام" value='@(Model.HireDate == null? null:Model.HireDate.Value.ToString("yyyy/MM/dd"))'>
                </div>
                <div class="form-group col-md-3">
                    <label for="StartWorkingDate" class="form-label col-lg-12">تاریخ شروع کار</label>
                    <input name="StartWorkingDate" class="form-control datepicker col-lg-12" placeholder="تاریخ شروع کار" data-val-required="" required value='@(Model.StartWorkingDate == null? null:Model.StartWorkingDate.Value.ToString("yyyy/MM/dd"))'>
                </div>
                <div class="form-group col-md-3">
                    <label for="EndWorkingDate" class="form-label col-lg-12">تاریخ پایان کار</label>
                    <input name="EndWorkingDate" class="form-control datepicker col-lg-12" placeholder="تاریخ پایان کار" value='@(Model.EndWorkingDate == null? null:Model.EndWorkingDate.Value.ToString("yyyy/MM/dd"))'>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-label" for="projectRef">پروژه</label>
                    <select id="project" asp-for="ProjectRef" class="js-data-example-ajax form-control">
                        <option selected>یک مورد را انتخاب کنید</option>
                    </select>
                </div>
                <div class="col-3 mt-3">
                    <label class="form-label" for="WorkshopCode">وضعیت تاهل</label>
                    <select asp-for="MaritalStatus"
                            class="form-control"
                            asp-items="Html.GetEnumSelectList<MaritalStatus>()"></select>
                </div>
                <div class="col-3 mt-3">
                    <label class="form-label" for="WorkshopCode">وضعیت سربازی</label>
                    <select asp-for="MilitaryService"
                            class="form-control"
                            asp-items="Html.GetEnumSelectList<MilitaryService>()"></select>
                </div>
                <div class="col-3 mt-3 mb-3">
                    <label class="form-label" for="WorkshopCode">جنسیت</label>
                    <select asp-for="Gender"
                            class="form-control"
                            asp-items="Html.GetEnumSelectList<Gender>()"></select>
                </div>
                <div class="col-3 mt-3">
                    <label class="form-label" for="WorkshopCode">وضعیت کارمند</label>
                    <select asp-for="EmployeeStatus"
                            class="form-control"
                            asp-items="Html.GetEnumSelectList<EmployeeStatus>()"></select>
                </div>

                <div class="form-group col-md-4" hidden>
                    <input type="text" asp-for="Id" name="Id" class="form-control col-lg-12">
                </div>
                <div class="form-group col-md-4" hidden>
                    <input type="text" asp-for="BankRef" name="Id" class="form-control col-lg-12">
                </div>
                <div class="col-12 mb-2">
                    <input name="AdditionalUserData.index" value="@indexOfUserAdditional" hidden />
                    <input asp-for="AdditionalUserData[indexOfUserAdditional].Id" hidden />
                    <input asp-for="AdditionalUserData[indexOfUserAdditional].ParentRef" value="@Model.Id" hidden />
                    <input asp-for="AdditionalUserData[indexOfUserAdditional].FamilyRole" value="0" hidden />
                    <label class="form-label">آپلود اسناد</label>
                    <br />
                    <button type="button" onclick="AddDocument(@indexOfUserAdditional)" class="btn btn-info float-right" title="سند جدید">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                            <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z" />
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="row mt-2" id="AdditionalUserData[@indexOfUserAdditional]_DocumentsBox">
                @foreach (var Doc in Model.AdditionalUserData[indexOfUserAdditional].Documents)
                {
                    <div class="col-6 mb-2 form-inline" id="AdditionalUserData[@indexOfUserAdditional]_Documents[@DocIndex]_Files">
                        <select asp-for="AdditionalUserData[indexOfUserAdditional].Documents[DocIndex].DocumentType"
                            class="form-control ml-0 mr-0"
                            asp-items="Html.GetEnumSelectList<DocumentType>()">
                        </select>
                        <input type="file" class="ml-2 mr-0" name="AdditionalUserData[@indexOfUserAdditional].Documents[@DocIndex].File"
                           onchange="SetFileData(this,@indexOfUserAdditional,@DocIndex)" accept="image/*" />
                        <input type="hidden" name="AdditionalUserData[@indexOfUserAdditional].Documents.index" value="@DocIndex" />
                        <input type="hidden" asp-for="AdditionalUserData[indexOfUserAdditional].Documents[DocIndex].FullPath" />
                        <input type="hidden" asp-for="AdditionalUserData[indexOfUserAdditional].Documents[DocIndex].FileName" />
                        <input type="hidden" asp-for="AdditionalUserData[indexOfUserAdditional].Documents[DocIndex].Id" />
                        <a href="@_fileRepository.GetFileFullPath(Doc.FullPath).ImagePath" target="_blank">
                            <img class="form-control mr-3" name="AdditionalUserData[@indexOfUserAdditional].Documents[@DocIndex].Image"
                             src="@_fileRepository.GetFileFullPath(Doc.FullPath).ThumbPath" />
                        </a>

                        <button type="button" onclick="RemoveDocument(@indexOfUserAdditional,@DocIndex)" class="btn btn-danger">
                            <i>حذف مدرک</i>
                        </button>
                    </div>
                    DocIndex++;
                }
            </div>

        </div>
        <div class="card-footer text-left">
            <div class="row" id="add-new-familyRole-box">
                <div class="col-6 mb-2">
                    <button type="button" id="add-new-familyRole" class="btn btn-info">
                        افزودن تحت تکفل
                    </button>
                </div>
            </div>
        </div>
    </div>
    @if (Model.AdditionalUserData != null)
    {
        foreach (var additionalUser in Model.AdditionalUserData.Where(x => x.FamilyRole != FamilyRole.Me))
        {
            index = Model.AdditionalUserData.IndexOf(additionalUser);
            DocIndex = 0;
            <div class="card" id="Box_@index">
                <div class="card-header" name="familyBox"><h6>#@index رابطه خویشاوندی</h6></div>
                <div class="card-body">
                    <div class="row">
                        <input asp-for="AdditionalUserData[index].Id" hidden />
                        <input asp-for="AdditionalUserData[index].ParentRef" value="@Model.Id" hidden />
                        <div class="col-6 mb-2">
                            <label>نام</label>
                            <input type="hidden" maxlength="26" name="AdditionalUserData.index" value="@index" />
                            <input asp-for="AdditionalUserData[index].FirstName" class="form-control" />
                        </div>
                        <div class="col-6 mb-2">
                            <label>نام خانوادگی</label>
                            <input asp-for="AdditionalUserData[index].LastName" class="form-control" />
                        </div>
                        <div class="col-6 mb-2">
                            <label> کد ملی</label>
                            <input asp-for="AdditionalUserData[index].NationalCode" class="form-control" />
                        </div>
                        <div class="col-6 mb-2">
                            <label> شماره شناسنامه</label>
                            <input asp-for="AdditionalUserData[index].IdentityNumber" class="form-control" />
                        </div>
                        <div class="col-6 mb-2">
                            <label>تاریخ تولد</label>
                            <input name="AdditionalUserData[@index].Birthday" class="datepicker form-control" value="@Model.AdditionalUserData[index].Birthday?.ToString("yyyy/MM/dd")" />
                        </div>
                        <div class="col-6 mb-2">
                            <label class="form-label">جنسیت</label>
                            <select asp-for="AdditionalUserData[index].Gender"
                            class="form-control"
                            asp-items="Html.GetEnumSelectList<Gender>()">
                            </select>
                        </div>
                        <div class="col-6 mb-2">
                            <label class="form-label">رابطه خویشاوندی</label>
                            <select asp-for="AdditionalUserData[index].FamilyRole"
                            class="form-control"
                            asp-items='Html.GetEnumSelectList<FamilyRole>().Where(x=>x.Value!="0")'>
                            </select>
                        </div>
                        <div class="col-6 mb-2">
                            <label class="form-label">آپلود اسناد</label>
                            <br />
                            <button type="button" onclick="AddDocument(@index)" class="btn btn-info float-right" title="سند جدید">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                                    <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z" />
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="row mt-2" id="AdditionalUserData[@index]_DocumentsBox">
                        @foreach (var Doc in additionalUser.Documents)
                        {
                            <div class="col-6 mb-2 form-inline" id="AdditionalUserData[@index]_Documents[@DocIndex]_Files">
                                <select asp-for="AdditionalUserData[index].Documents[DocIndex].DocumentType"
                            class="form-control ml-0 mr-0"
                            asp-items="Html.GetEnumSelectList<DocumentType>()">
                                </select>
                                <input type="file" class="ml-2 mr-0" name="AdditionalUserData[@index].Documents[@DocIndex].File"
                           onchange="SetFileData(this,@index,@DocIndex)" accept="image/*" />
                                <input type="hidden" name="AdditionalUserData[@index].Documents.index" value="@DocIndex" />
                                <input type="hidden" asp-for="AdditionalUserData[index].Documents[DocIndex].FullPath" />
                                <input type="hidden" asp-for="AdditionalUserData[index].Documents[DocIndex].FileName" />
                                <input type="hidden" asp-for="AdditionalUserData[index].Documents[DocIndex].Id" />
                                <a href="@_fileRepository.GetFileFullPath(Doc.FullPath).ImagePath" target="_blank">
                                    <img class="form-control mr-3" name="AdditionalUserData[@index].Documents[@DocIndex].Image"
                             src="@_fileRepository.GetFileFullPath(Doc.FullPath).ThumbPath" />
                                </a>
                                <button type="button" onclick="RemoveDocument(@index,@DocIndex)" class="btn btn-danger">
                                    <i>حذف مدرک</i>
                                </button>
                            </div>
                            DocIndex++;
                        }

                    </div>

                </div>
                <div class="card-footer text-right">
                    <button type="button" onclick="RemoveBox('@index','@DocIndex')" class="btn btn-danger">
                        <i>حذف</i>
                    </button>
                </div>
            </div>
            @*index++;*@
        }
    }
    <button class="btn btn-primary mt-5" type="submit" value="Submit">ویرایش</button>

</form>

@section Scripts{
<script src="~/js/Users/Edit/EditUser.js" type="text/javascript"></script>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);

        $.ajax({
        url: "/admin/project/getlist",
        method: "GET",
        success: function (model){
            $.map( model, function( val, i ) {
                if(val.id == @Model?.ProjectRef){
                    $("#project").append('<option value="' + val.id + '" selected>' + val.title + '</option>');
                }
                else{
                    $("#project").append('<option value="' + val.id + '">' + val.title + '</option>');
                }
            });
        }
    })
    $(":input").prop("disabled", true);
    $('#alert-editmode').attr('style', 'display: none !important');


    $(document).ready(function(){
    $(".form-control").each(function(i) {
        if( $(this).data("val-required") !== undefined && $(this).siblings('label').length >0 )
        $($(this).siblings('label')[0]).html($($(this).siblings('label')[0]).html()+'<span class="requiredSpan">*</span>');
    });

});
</script>
}