@using Domain.Entities.Basic
@using Infrastructure.Repositories.Application.Basic
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Security.Claims
@inject IHtmlLocalizer<SharedResource> localizer
@inject IRole_MenuRepository _role_MenuRepository;
@inject UserManager<ApplicationUser> _userManager
@inject RoleManager<ApplicationRole> _roleManager
@{

    var user = await _userManager.GetUserAsync(User);
    var roleNames = await _userManager.GetRolesAsync(user);
    List<ApplicationRole> roles = _roleManager.Roles.Where(r => roleNames.Contains(r.Name)).ToList();

    var menuHeader = new List<Menu>();
    foreach (var role in roles)
    {
        var role_menu = await _role_MenuRepository.GetByRoleId(role.Id);

        if (role_menu is not null)
            menuHeader.AddRange(role_menu.Select(x => x.Menu));

        menuHeader.Distinct();
    }
}
<aside id="sideBar" class="main-sidebar sidebar-dark-primary">
    <a href="/" class="brand-link">
        @*        <img src="~/images/logo-transparent.png" id="brand-logo" alt="logo" class="brand-image img-circle"
            style="opacity: .8">*@
        <span class="brand-text font-weight-light" style="font-size:0.8em!important;text-align:center">@localizer["ApplicationName"]</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @if (user.UserType == Common.Enums.UserType.SystemUser)
                {
                    foreach (var menu in menuHeader.Where(x => x.ParentId is null).OrderBy(x => x.Order))
                    {
                        <li class="nav-item has-treeview" @(menu.Active? "is-active-route":"")>
                            <a href="@menu.Root" class="nav-link menulink" @(menu.Active? "is-active-route":"")>
                                <i class="@menu.Icon"></i>
                                <p>
                                    @menu.PersianName
                                    @if (menuHeader.Any(x => x.ParentId == menu.Id))
                                    {
                                        <i class="right fa fa-angle-left"></i>
                                    }
                                </p>
                            </a>
                            @foreach (var subMenu in menuHeader.Where(x => x.ParentId == menu.Id).OrderBy(x => x.Order))
                            {
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@subMenu.Root" class="nav-link menulink" @(subMenu.Active? "is-active-route":"")>
                                            <i class="@subMenu.Icon"></i>
                                            <p>
                                                @subMenu.PersianName
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            }
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item">
                        <a href="/Dashboard/User/EditInformation" class="nav-link menulink">
                            <i class="nav-icon fa fa-th"></i>
                            <p>
                                @localizer["Dashboard"]
                            </p>
                        </a>
                    </li>
                    <li class="nav-header">@localizer["Basic"]</li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link menulink">
                            <i class="nav-icon fa fa-user"></i>
                            <p>
                                @localizer["EditInformation"]
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/dashboard/user/editinformation" class="nav-link menulink">
                                    <i class="fa fa-bullseye nav-icon"></i>
                                    <p>@localizer["EditIdentityInformation"]</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </nav>
    </div>
</aside>