@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> localizer
<aside id="sideBar" class="main-sidebar sidebar-dark-primary">
    <a href="/" class="brand-link">
        @*        <img src="~/images/logo-transparent.png" id="brand-logo" alt="logo" class="brand-image img-circle"
            style="opacity: .8">*@
        <span class="brand-text font-weight-light" style="font-size:0.8em!important;text-align:center">@localizer["ApplicationName"]</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="nav-icon fa fa-th"></i>
                            <p>
                                @localizer["Dashboard"]
                                <span class="right badge badge-danger">@localizer["New"]</span>
                            </p>
                        </a>
                    </li>
                }
                @if (User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-header">@localizer["Admin"]</li>
                    <li is-active-route asp-area="Admin" class="nav-item has-treeview">
                        <a is-active-route asp-area="Admin" class="nav-link">
                            <i class="nav-icon fa fa-user"></i>
                            <p>
                                @localizer["Admin Settings"]
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a is-active-route asp-area="Admin" asp-controller="User" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>@localizer["Users"]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Admin" asp-controller="Role" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>@localizer["Roles"]</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-header">@localizer["Admin"]</li>
                    <li is-active-route asp-area="Admin" class="nav-item has-treeview">
                        <a is-active-route asp-area="Admin" class="nav-link">
                            <i class="nav-icon fa fa-user"></i>
                            <p>
                                @localizer["Admin Settings"]
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                    <a is-active-route href="/admin/user" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>@localizer["Users"]</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <li class="nav-header">@localizer["Basic"]</li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-user"></i>
                            <p>
                                @localizer["Data"]
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a is-active-route asp-area="Data" asp-controller="Excel" asp-action="Personnel" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>@localizer["ImportDataFromExcelForPersonnel"]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Data" asp-controller="Excel" asp-action="Attendances" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>@localizer["ImportDataFromExcelForAttendances"]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Data" asp-controller="Excel" asp-action="DeleteAttendances" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>@localizer["DeleteImportedAttendances"]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Data" asp-controller="Excel" asp-action="DeletePersonnel" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>@localizer["DeletePersonnel"]</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header">@localizer["Export"]</li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-user"></i>
                            <p>
                                @localizer["Basic"]
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a is-active-route asp-area="Export" asp-controller="Insurance" asp-action="Index" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>@localizer["ExportInsuranceList"]</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a is-active-route asp-area="Export" asp-controller="SummaryInsurance" asp-action="Index" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>@localizer["ExportSummaryInsuranceList"]</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("User"))
                {

                    <li class="nav-header">@localizer["Basic"]</li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-user"></i>
                            <p>
                                @localizer["EditInformation"]
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a is-active-route asp-area="Dashboard" asp-controller="User" asp-action="EditInformation" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>@localizer["EditIdentityInformation"]</p>
                                </a>
                            </li>
                            @*                                                 <li class="nav-item">
                                <a is-active-route asp-area="Dashboard" asp-controller="User"  asp-action="EditFamilyInformation" class="nav-link">
                                <i class="fa fa-user-circle nav-icon"></i>
                                <p>@localizer["EditMyFamilyInformation"]</p>
                                </a>
                                </li>*@
                        </ul>
                    </li>

                }

            </ul>
        </nav>
    </div>
</aside>