@using MD.PersianDateTime
@using Web.Areas.Admin.Models
@using Application.Extensions
@using Common.Enums
@model IEnumerable<PermissionsViewModel>
@inject IHtmlLocalizer<SharedResource> localizer
@{

}

<table class="table table-striped display" id="PermissionTable">
    <thead>
        <tr>
            <th>
                نام
            </th>
            <th>
                سر گروه
            </th>
            <th style="width:10%">
                #
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Permission in Model)
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <a>
                                @Permission.Name
                            </a>
                            <br>
                            <small>
                                @Permission.PersianName
                            </small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <a>
                                @Permission.Parent?.Name
                            </a>
                            <br>
                            <small>

                            </small>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @localizer["Actions"]
                        </button>
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a asp-area="Admin" asp-controller="Permissions" asp-action="Edit" asp-route-PermissionId="@Permission.Id" class="dropdown-item">
                                <i class="fa fa-pencil"></i> @localizer["Edit"]
                            </a>
                            <a asp-area="Admin" asp-controller="Permissions" asp-action="Delete" asp-route-PermissionId="@Permission.Id" class="dropdown-item">
                                <i class="fa fa-pencil"></i> @localizer["Delete"]
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var test;
    $(document).ready(function () {
        $('#CustomSpinner').css('display','none');
        test = $("#PermissionTable").DataTable({
                searching: true,
                ordering:  true,
                select: true,
                responsive: true,
                oLanguage : {
                    sSearch: "جستجو: ",
                    sInfo: "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                    sLengthMenu: "نمایش _MENU_ رکورد",
                    sInfoFiltered: "فیلتر شده از _MAX_ رکورد",
                    sInfoEmpty  : "هیچ داده ای یافت نشد",
                    sZeroRecords: "رکوردی یافت نشد",
                    oPaginate:{
                        sPrevious: "قبلی",
                        sNext: "بعدی",
                    }
                },
        });
    });
</script>