@using Common.Models.DataTable
@model DataTableViewModel<IEnumerable<Web.Areas.Admin.Models.AttendanceViewModel>>
@inject IHtmlLocalizer<SharedResource> localizer
<div class="card-body table-responsive">
    <table class="table table-striped" id="attendanceTable">
        <thead>
            <tr>
                <th>
                    @localizer["PersonnelCode"].Value
                </th>
                <th>
                    نام‌و‌نام‌خانوادگی
                </th>
                <th>
                    @localizer["JobTitle"].Value
                </th>
                <th>
                    @localizer["BirthPlace"].Value
                </th>
                <th>
                    شماره حساب
                </th>
                <th>
                    @localizer["NationalCode"].Value
                </th>
                <th>
                    @localizer["InsuranceCode"].Value
                </th>
                <th>
                    محل خدمت
                </th>
                <th>
                    @localizer["DegreeOfEducation"].Value
                </th>
                <th>
                    مدت خدمت
                </th>
                <th>
                    کارکرد اضافه کاری
                </th>
                <th>
                    کارکرد شبکاری
                </th>
                <th>
                    کارکرد تعطیل کاری
                </th>
                <th>
                    کارکرد ماموریت
                </th>
                <th>كاركرد حق غذا </th>
                <th>تعداد اولاد</th>
                <th>حقوق پایه</th>
                <th>پایه سنوات روزانه</th>
                <th>مزد روزانه</th>
                <th> @localizer["FoodAndHouseRight"].Value</th>
                <th>بن کارگر</th>
                <th>مبلغ ساعت اضافه کاری</th>
                <th>دستمزد ماهیانه</th> 
                <th>مبلغ اضافه کاری</th>
                <th>حق اولاد</th>
                <th>حق مسکن" ;
                <th>حق بن کارگری</th>
                <th>شب کاری</th>
                <th>تعطیل کاری</th>
                <th>ماموریت</th>
                <th>هزینه غذا</th>
                <th>سایر1</th>
                <th>سایر2</th>
                <th>مابه التفاوت</th>
                <th>طلب از قبل</th>
                <th>جمع حقوق و مزایا</th>
                <th>مشمول مالیات</th>
                <th>مشمول بیمه</th>
                <th>بیمه 7%</th>
                <th>ماليات</th>
                <th>مساعده</th>
                <th>غیبت</th>
                <th>بدهی از قبل</th>
                <th>سایر کسورات</th>
                <th>جمع كسورات</th>
                <th>خالص دریافتی</th>
                <th>سال</th>
                <th>ماه</th>
                <th>پایه سنوات مزایا</th> 
                <th>نوبت کاری-کارکرد</th>
                <th>نوبتکاری -مزایا</th>
                <th>کسر بیمه تکمیلی - کسورات</th>
                <th>پاداش - کارکرد</th>
                <th>سنوات-مزایا </th>
                <th>عیدی-مزایا</th>
                <th>پاداش - مزایا</th>
                <th>اضافه کاری ثابت-مزایا</th>
                <th>کسر بیمه تکمیلی سرپرست</th>
                <th>کسر بیمه تکمیلی افراد تحت تکفل</th>
                <th>کسر بیمه تکمیلی افرادغیر تحت تکفل</th>
                <th>هزینه رفاهی</th>
                <th>ایاب و ذهاب</th>
                <th>کارکرد معوقه</th>
                <th> هزینه لباس</th>
                <th>وام موسسه</th>
                <th>وام سامان</th>
                <th>معوقه ایاب و ذهاب</th>
                <th>کسر بیمه تکمیلی ماه معوقه</th>
                <th>کمک هزینه رفاهی</th>
                <th>کارایی</th>
                <th>مزایای مشمول</th>
                <th>دستمزد و مزایای مشمول ماهانه</th>
                <th>مشمول و غیر مشمول</th>
                <th>بیمه بیکاری</th>
                <th>بیمه 30%</th>
                <th>بیمه سهم کارفرما</th>
                <th>مستمر - حقوق پایه بن و مسکن و حق اولاد</th>
                <th>مستمر - حقوق پایه و پایه سنوات</th>
                <th>غیر مستمر - مشمول و غیر مشمول</th>
                <th>غیر مستمر - مشمول</th>
                <th style="width:10%">
                    #
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendance in Model.ViewModel)
            {
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                <a>
                                    @attendance.PersonnelCode
                                </a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                <a>
                                    @attendance.FirstName @attendance.LastName
                                </a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                <a>
                                    @attendance.JobTitle
                                </a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                <a>
                                    @attendance.BirthPlace
                                </a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                <a>
                                    @attendance.AccountNumber
                                </a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @attendance.NationalCode
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @attendance.InsuranceNumber
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @attendance.ServiceLocation
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @attendance.DegreeOfEducation
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.DurationOperation.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @attendance.OvertimeworkingTime
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @attendance.NightworkingTime
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @attendance.HolidayworkingTime
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @attendance.MissionTime
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @(attendance.FoodTime)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @attendance.NumberChildren
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.Salary.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.SeveranceDaily.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.DailyPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.FoodAndHousingRight.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.WorkerRight.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.OvertimePay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.MonthlyPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.OvertimeworkingPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.ChildrenRightPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.HouseRightPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.WorkerRightPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.NightworkingPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.HolidayworkingPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.MissionPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.FoodPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.Other01.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.Other02.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.Disparity.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.PreviousReceipt.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.SumSalaryAndBenefit.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.TaxationPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.InsurancePay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.Insurance7Percent.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.Taxation.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.HelpPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.Absence.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.Debt.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.OtherDeductions.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.SumDeductions.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.PureIncome.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @attendance.Year
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @attendance.Month
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.SeveranceMonthly.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.ShiftWorkTime.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.ShiftWorkPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.SupplementaryInsuranceDeduction.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.RewardTime.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.YearsPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.RewardPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.FestalPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.BasicOverTimePay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.SupplementaryInsuranceSupervisor.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.SupplementaryInsuranceForDependents.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.NonDependentSupplementaryInsurance.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.WelfareCostPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.TransportationPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
@*                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @Common.Extentions.CommonExtention.GetEnumDisplayName(attendance.Gender)
                            </div>
                        </div>
                    </td>*@
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.DelayedTime.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.ClothesPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.InstitutionaLoan.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.SamanLoan.Split('.')[0]))
                            </div>
                        </div>
                    </td>
@*                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @attendance.StartWorkingDate?.ToString("yyyy/MM/dd")
                            </div>
                        </div>
                    </td>*@
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.DelayedTransportationPay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.DelayedSupplementaryInsuranceDeduction.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.WelfareAllowancePay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.PerformancePay.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.MonthlyBenefits.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.MonthlyWagesAndBenefitsIncluded.Split('.')[0]))
                            </div>
                        </div>
                    </td>  
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.IncludedAndNotIncluded.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.UnemploymentInsurance.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @(String.Format("{0:N10}", attendance.Insurance30Percent).Split('.')[0])
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.EmployerShareInsurance.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.ContinuousBasicRightsToHousingAndChildrenRights.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.ContinuousBaseSalaryAndBaseYears.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.NonContinuousIncludedNotIncluded.Split('.')[0]))
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm">
                                @String.Format("{0:n0}", Convert.ToInt32(attendance.NonContinuousIncluded.Split('.')[0]))
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @localizer["Actions"]
                            </button>
                            <div class="dropdown-menu shadow animated--grow-in">
                                <a asp-area="Admin" asp-controller="attendance" asp-action="Delete" asp-route-attendanceId="@attendance.ImportedId" class="dropdown-item">
                                    <i class="fa fa-pencil"></i> @localizer["Delete"]
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row mr-2">
    <button class="btn btn-outline-success m-1" @(Model.PageNumber != 0 ? "" : "disabled") onclick="page = page - 1;loadData($('#year').val(),$('#month').val(),$('#key').val(),$('#project').val())">قبلی</button>

    <button class="btn btn-outline-success m-1" @(Model.PageCount != Model.PageNumber? "": "disabled") onclick="page = page + 1;loadData($('#year').val(),$('#month').val(),$('#key').val(),$('#project').val())">بعدی</button>

</div>
<script>
    $('#CustomSpinner').css('display','none')
    //$("#attendanceTable").DataTable();
      $("#attendanceTable").DataTable({
        searching: false,
        ordering:  true,
        processing: true,
        select: true,
        responsive: true,
        bPaginate: false,
        aaSorting: [[ 0, "desc" ]],
        oLanguage : {
            sSearch: "جستجو: ",
            sInfo: "نمایش _START_ تا _END_ از @Model.DataCount رکورد |  @(Model.PageNumber + 1) از @(Model.PageCount + 1) صفحه",
            sLengthMenu: "نمایش _MENU_ رکورد",
            sInfoFiltered: "فیلتر شده از _MAX_ رکورد",
            sInfoEmpty  : "هیچ داده ای یافت نشد",
            sZeroRecords: "رکوردی یافت نشد",
            oPaginate:{
                sPrevious: "قبلی",
                sNext: "بعدی",
            }
        },
         columnDefs: [
            { width: 200, targets: 0 }
        ],
        columns: [
        ],
        fixedColumns: true
    });
    $('[data-toggle="tooltip"]').tooltip()
</script>