@using Web.Areas.Admin.Models
@using Common.Enums
@model Role_Project_PermissionViewModel
@{
    ViewBag.Title = "انتصاب نقش  و سطح دسترسی به پروژه";
    var PermissionList = ViewData["PermissionList"] as List<PermissionsViewModel>;
    var RoleList = ViewData["RoleList"] as List<RoleViewModel>;
}

<form id="form" method="POST" action="SaveRoleProjectPermission">
    <input type="hidden" asp-for="ProjectId" />
    <div class="row justify-content-center">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 mt-3">

                            <label class="form-label select-label">نقش</label>
                            <select class="selectpicker js-data-example-ajax form-control" title="انتخاب کنید" name="RoleId" id="RoleId"
                                    data-live-search="true" data-live-search-placeholder="جستجو">
                                @foreach (var role in RoleList)
                                {
                                    if (Model.RoleId == role.Id)
                                    {
                                        <option value="@role.Id" selected>@role.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@role.Id">@role.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label select-label">سطح دسترسی</label>
                            <select class="selectpicker js-data-example-ajax form-control" title="انتخاب کنید" name="PermissionIds" id="PermissionIds"
                                    data-live-search="true" data-live-search-placeholder="جستجو" multiple>
                                @foreach (var permission in PermissionList)
                                {
                                    <option value="@permission.Id">@permission.Name </option>
                                }
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-primary">ذخیره</button>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts
{
<script>
    function Change()
    {
        $("#PermissionIds option").prop("selected", false);
         $.ajax({
            url: "/admin/role/getPermissions?projectId=@(Model.ProjectId)&roleId="+$('#RoleId').val(),
            method: "GET",
            success: function (model){
                 $.each(model, function(i,e){
                    $("#PermissionIds option[value='" + e + "']").prop("selected", true);
                });
                $('.selectpicker').selectpicker('refresh');
            }
        });
    }
    $('#RoleId').change(function(){
        Change();
    });
    Change();
</script>

}